.customBtns1 {
  margin-top: 20px;
}

.primaryBtn {
  background-color: blue;
  color: white;
  font-size: large;
}

.primaryBtn:hover {
  background-color: rgb(86, 86, 249) !important;
}

.defaultBtn {
  color: black;
  font-size: large;
}

.defaultBtn:hover {
  color: rgb(86, 86, 249) !important;
}

.dashedBtn {
  color: black;
  font-size: large;
}

.dashedBtn:hover {
  color: rgb(86, 86, 249) !important;
}

.textBtn {
  color: black;
  font-size: large;
}

.textBtn:hover {
  background-color: rgb(162, 162, 255) !important;
  color: #fff !important;
}

.linkBtn {
  color: blue;
  font-size: large;
}

.linkBtn:hover {
  color: rgb(0, 0, 178) !important;
}

.button2 {
  margin-top: 40px;
}

.button3 {
  margin-top: 40px;
}

.buttonHR {
  margin-top: 20px;
}

.button4 {
  margin-top: 40px;
}
